<div class="row">
	<div class="card">
		<div class="card-image">
			<a href="#/DEINEMUDDA">
				<img src="{{room.pictures[0].img}}">
			</a>
			<span class="card-title card-titel-new">
				<span style="padding-right: 20px;">Match Rate: {{room.score * 100 | number:0 }}%</span>
				<span style="padding-right: 20px;">Cost: {{room.price}}&euro;</span>
			</span>
			<span class="card-title card-button">
				<span ng-click="count = count + 1" ng-init="count=0" class="btn-floating waves-effect waves-light">
					<i class="material-icons">
						thumb_up
					</i>
				</span>
			</span>
		</div>
		<div class="card-content">
			<p>{{room.address}}</p>
			<p>On Offer Since: {{room.createdAt}}</p>
		</div>
		<div class="card-action">
			<a ng-if="owner" href="#/offer/{{room._id}}">View Details</a>
			<a ng-if="!owner" href="#/room/{{room._id}}">View Details</a>
		</div>
	</div>
</div>