<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="row">
                <h1>Offers</h1>
                <a href="#offer" target="_self" class="btn waves-effect waves-light teal lighten-1">Post Offer</a>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/Johannes.jpg">
                            <span class="card-title">Johannes' Offer</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#offer/test">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/Michael.jpg">
                            <span class="card-title">Michael's Offer</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#offer/test">Details</a>
                        </div>
                    </div>
                </div>
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">
                            <img src="img/Christina.jpg">
                            <span class="card-title">Christina's Offer</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#offer/test">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>