<div class="row">
    <div class="col s8">
        <div class="container">
            <div class"row">
                <div class="col s12"; style="margin-top: 10px">
                    <form name="offerForm" ng-submit="submitForm()" class="col s12">
                        <div class ="row">
                            <div class="section">
                                <h5>Pictures</h5>
                            </div>
                            <div class="slider">
                                <ul class="slides activator">
                                    <li ng-repeat="(key, value) in formData.pictures">
                                        <a ng-href="#/asdsads">
                                            <img src="{{value.img}}"> <!-- random image -->
                                            <div class="caption caption_neu left-align">
                                                <h5>
                                                    <span style="padding-right: 20px;">{{value.description}}</span>
                                                </h5>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class ="row">
                        <div class="section">
                            <h5>Street Address</h5>
                        </div>
                        <ul class="collection">
                          <li class="collection-item">{{formData.address}}</li>
                      </ul>
                  </div>

                  <div class="row">
                    <div class="section">
                        <h5>Facts</h5>
                        <p>Provide some details about the room to improve your matches.<p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <h6>Price (€) including utilities</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.price}}</li>
                            </ul>
                        </div>
                        <div class="col s12 m12 l6">
                            <h6>Deposit (€)</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.deposit}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l6">
                            <h6>Room Size (m<sup>2</sup>)</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.size_room}}</li>
                            </ul>
                        </div>
                        <div class="col s12 m12 l6">
                            <h6>Apartment Size (m<sup>2</sup>)</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.size_room}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <h6>Type</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.room_type}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m12 l4">
                            <h6>Available from</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.startdate}}</li>
                            </ul>
                        </div>
                        <div class="col s12 m12 l4" >
                            <h6 hide ng-show='formData.checkbox_shortterm' >Short Term?</h6>
                            <input hide ng-show='formData.checkbox_shortterm' type="checkbox" class="filled-in" id="filled-in-box" checked="checked" disabled="disabled">
                            <label hide ng-show='formData.checkbox_shortterm' for="checkbox_shortterm"></label>
                        </div>
                        <div hide ng-show='formData.checkbox_shortterm' class="col s12 m12 l4">
                            <h6>End Date</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.enddate}}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m6 l4">
                            <ul class="collection">
                                <li class="collection-item active" ng-show="formData.checkbox_furnitured">Furnished</li>
                                <li class="collection-item" ng-hide="formData.checkbox_furnitured">Furnished</li>
                                <li class="collection-item active" ng-show="formData.checkbox_kitchen">Equipped Kitchen</li>
                                <li class="collection-item" ng-hide="formData.checkbox_kitchen">Equipped Kitchen</li>
                                <li class="collection-item active" ng-show="formData.checkbox_washing_machine">Washing machine</li>
                                <li class="collection-item" ng-hide="formData.checkbox_washing_machine">Washing machine</li>
                            </ul>
                        </div>
                        <div class="col s12 m6 l4">
                            <ul class="collection">
                                <li class="collection-item active" ng-show="formData.checkbox_barrier_free">Barrier-free</li>
                                <li class="collection-item" ng-hide="formData.checkbox_barrier_free">Barrier-free</li>
                                <li class="collection-item active" ng-show="formData.checkbox_pets">Pets allowed</li>
                                <li class="collection-item" ng-hide="formData.checkbox_pets">Pets allowed</li>
                                <li class="collection-item active" ng-show="formData.checkbox_smoking">Smoking allowed</li>
                                <li class="collection-item" ng-hide="formData.checkbox_smoking">Smoking allowed</li>
                                <li class="collection-item active" ng-show="formData.checkbox_basement">Basement</li>
                                <li class="collection-item" ng-hide="formData.checkbox_basement">Basement</li>
                            </ul>
                        </div>
                        <div class="col s12 m6 l4">
                            <ul class="collection">
                                <li class="collection-item active" ng-show="formData.checkbox_balcony">Balcony</li>
                                <li class="collection-item" ng-hide="formData.checkbox_balcony">Balcony</li>
                                <li class="collection-item active" ng-show="formData.checkbox_garden">Garden</li>
                                <li class="collection-item" ng-hide="formData.checkbox_garden">Garden</li>
                                <li class="collection-item active" ng-show="formData.checkbox_living_room">Living Room</li>
                                <li class="collection-item" ng-hide="formData.checkbox_living_room">Living Room</li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12 m12 l4 form-group">
                            <h6>Number of Male Roommates:</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.nr_of_male_roommates}}</li>
                            </ul>
                        </div>
                        <div class="input-field col s12 m12 l4 form-group">
                            <h6>Number of Female Roommates:</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.nr_of_female_roommates}}</li>
                            </ul>
                        </div>
                        <div class="input-field col s12 m12 l4 form-group">
                            <h6>Number of Other Roommates:</h6>
                            <ul class="collection">
                                <li class="collection-item">{{formData.nr_of_other_roommates}}</li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="col s6">
                            <h6>Minimum Age of Roommates:</h6>
                            <ul class="collection">
                                <li class="collection-item">16</li>
                            </ul>
                        </div>
                        <div class="col s6">
                            <h6>Maximum Age of Roommates:</h6>
                            <ul class="collection">
                                <li class="collection-item">37</li>
                            </ul>
                        </div>
                    </ul>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h6>Optional Description:</h6>
                        <ul class="collection">
                            <li class="collection-item">{{formData.comments}}</li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div  sticky unsticky-class="unstuck" sticky-class="stuck" use-placeholder="false" offset="10"
class="col s4 mapcontainer stick">
<flatling-map></flatling-map>
</div>
</div>
